.sliding-menu-button {
	@include button(flat, $lgrey);
	padding: 10px 16px;
	display: inline-block;
	cursor: pointer;
	position: relative;
	outline: none;

	img {
		height: 1.3em;
	}
}

// Based on code by Diego Eis
