
{{> utilities/head }}

<body>

	{{{ body }}}

	{{> sections/vid-html }}
	{{> utilities/footer }}

	<!-- jQuery -->
	{{> utilities/analytics }}
	{{> utilities/jquery-js }}
	{{> sections/vid-js }}

</body>

</html>
