
{{> utilities/head }}

<body>

	<!--
	Navbar
	Header
	Moti + Features
	How to use + customization
	Deep dive
	Faq
	-->

	{{> sections/navbar }}

		{{{ body }}}

	{{> sections/footer }}

	<!-- jQuery -->
	{{> utilities/analytics }}
	{{> utilities/jquery-js }}

</body>

</html>
