
{{> utilities/head }}

<body>


	{{> utilities/navbar }}

	<div class="container">

		{{{ body }}}

	</div>

	{{> utilities/footer }}

	<!-- jQuery -->
	{{> utilities/analytics }}
	{{> utilities/jquery-js }}

</body>

</html>
