
{{> site/head }}

<body>

	{{> site/navbar }}

	<div class="container">
		
		{{{ body }}}
	
	</div>

	{{> site/footer }}

	<!-- jQuery -->
	{{> site/analytics }}
	{{> site/jquery-js }}

</body>

</html>
