
{{> utilities/head }}

<body>


	{{> sections/navbar }}

	<div class="container">

		{{{ body }}}

	</div>

	{{> sections/footer }}

	<!-- jQuery -->
	{{> utilities/analytics }}
	{{> utilities/jquery-js }}

</body>

</html>
