
{{> site/head }}

	<body>

		<div class="site-wrapper">

			<div class="site-wrapper-inner">

				<div class="cover-container">

					{{> pages/navbar }}

					{{{ body }}}

					{{> site/footer }}

				</div>

			</div>

		</div>
	</div> <!-- vid -->

		<!-- jQuery -->
		{{> site/analytics }}
		{{> site/jquery-js }}
		{{> pages/vid-js }}

	</body>

</html>
