
{{> site/head }}

	<body>

		<div class="site-wrapper">

			<div class="site-wrapper-inner">

				<div class="cover-container">

					{{> navbar }}

					{{{ body }}}

					{{> footer }}

				</div>

			</div>

		</div>
	</div> <!-- vid -->

		<!-- jQuery -->
		{{> analytics }}
		{{> jquery-js }}
		{{> vid-js }}

	</body>

</html>
