/*------------------------------------*\
CAROUSEL.CSS
\*------------------------------------*/

header {
	height: 700px;
	background-image: url(/img/still-1.png);
	background-position: cover;
	background-repeat: no-repeat;
}
