/*------------------------------------*\
COLORS.CSS
\*------------------------------------*/

.navbar {
	height: 40px;
	margin-bottom: 20px;
	margin-top: 20px;
	background-color: rgba(255, 255, 255, 0.6);
	border-color: rgba(0, 0, 0, 0);
}

