<div class="inner cover">

	<img src="{{ site._img }}/logo-moti.svg" alt="Moti Logo" class="logo-front">

	<h1 class="cover-heading">Dites bonjour à Moti</h1>
	<p class="lead">une nouvelle manière d'apprendre, un nouvel ami</p>
	<p class="lead">
		<a href="/{{ lang }}/moti"><button class="btn btn--primary">Découvrez Moti</button></a>
		<a href="/{{ lang }}/preorder"><button class="btn btn--secondary">Précommandez</button></a>
	</p>
</div>

