
<div class="vid">

	<div class="vid-fade"></div>

	<div id="video-container">

		<video id="splash" class="vid-bg" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
			<source src="{{ site._vid-moti }}" type="video/mp4"></source>
			Your browser does not support the video tag. We suggest you upgrade your browser to <a href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a>.

		</video>

	</div>

</div>

